/* ───────────────────────────────────
 * btn
 * btn-size
 * btn-type
 * btn-color
 * disabled
 * ───────────────────────────────────    */
.n-btn {
  /* btn-size:1 */
  --btn-height-1: 28px;
  --btn-padding-1: 4px 12px;
  --btn-font-size-1: 14px;

  /* btn-size:2 */
  --btn-height-2: 36px;
  --btn-padding-2: 4px 16px;
  --btn-font-size-2: 14px;

  /* btn-size:3 */
  --btn-height-3: 44px;
  --btn-padding-3: 4px 20px;
  --btn-font-size-3: 16px;

  /* btn-type:filled */
  --btn-filled-background-color: var(--color-main-2);
  --btn-filled-color: var(--color-base-1);

  /* btn-type:outline */
  --btn-outline-border-color: var(--color-base-3);
  --btn-outline-color: inherit;
}

.n-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;

  padding: var(--btn-padding-2);
  height: var(--btn-height-2);
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: transparent;

  color: inherit;
  font-size: var(--btn-font-size-2);
  font-weight: 500;
  font-family: inherit;

  white-space: nowrap;
  user-select: none;
  cursor: pointer;

  transition: border-color 0.13s, background-color 0.13s;
}
.n-btn:active {
  transform: scale(0.98);
}

/* n-btn-size ---------------------------------------------------------------------------- */

/* 1, sm */
.n-btn-size\:1,
.n-btn\:1,
.n-btn-size\:sm,
.n-btn\:sm {
  padding: var(--btn-padding-1);
  height: var(--btn-height-1);
  font-size: var(--btn-font-size-1);
}

/* 2, md (default) */
.n-btn-size\:2,
.n-btn\:2,
.n-btn-size\:md,
.n-btn\:md {
  padding: var(--btn-padding-2);
  height: var(--btn-height-2);
  font-size: var(--btn-font-size-2);
}

/* 3, lg */
.n-btn-size\:3,
.n-btn\:3,
.n-btn-size\:lg,
.n-btn\:lg {
  padding: var(--btn-padding-3);
  height: var(--btn-height-3);
  font-size: var(--btn-font-size-3);
}

/* n-btn-type ---------------------------------------------------------------------------- */

/* filled (default) */
.n-btn,
.n-btn-type\:filled,
.n-btn\:filled {
  background-color: var(--btn-filled-background-color);

  color: var(--btn-filled-color);
}
.n-btn:hover,
.n-btn-type\:filled:hover,
.n-btn\:filled:hover {
  background-color: var(--color-main-1);
}

/* outline-box */
.n-btn-type\:outline-box,
.n-btn-type\:outline,
.n-btn\:outline-box,
.n-btn\:outline {
  background-color: var(--color-base-1);
  border-color: var(--btn-outline-border-color);

  color: var(--btn-outline-color);
}
.n-btn-type\:outline-box:hover,
.n-btn-type\:outline:hover,
.n-btn\:outline-box:hover,
.n-btn\:outline:hover {
  background-color: rgba(var(--rgb-base-10), 0.05);
}

/* void */
.n-btn-type\:void,
.n-btn\:void {
  background-color: transparent;
  border-color: transparent;

  color: inherit;
}
.n-btn-type\:void:hover,
.n-btn\:void:hover {
  background-color: rgba(var(--rgb-base-10), 0.05);
}

/* n-btn-color ---------------------------------------------------------------------------- */

/* base */
.n-btn-color\:base,
.n-btn\:base {
  background-color: var(--color-base-9);
  border-color: var(--color-base-9);

  color: var(--color-base-1);
}
.n-btn-color\:base:hover,
.n-btn\:base:hover {
  background-color: var(--color-base-8);
  border-color: var(--color-base-8);
}

/* sub */
.n-btn-color\:sub,
.n-btn\:sub {
  background-color: var(--color-sub-2);
  border-color: var(--color-sub-2);

  color: var(--color-base-1);
}
.n-btn-color\:sub:hover,
.n-btn\:sub:hover {
  background-color: var(--color-sub-1);
  border-color: var(--color-sub-1);
}

/* accent */
.n-btn-color\:accent,
.n-btn\:accent {
  background-color: var(--color-accent-2);
  border-color: var(--color-accent-2);

  color: var(--color-base-1);
}
.n-btn-color\:accent:hover,
.n-btn\:accent:hover {
  background-color: var(--color-accent-1);
  border-color: var(--color-accent-1);
}

/* disabled ---------------------------------------------------------------------------- */
.n-btn.disabled,
.n-btn:disabled,
fieldset:disabled .n-btn {
  background-color: rgba(var(--rgb-base-10), 0.05);
  border-color: transparent;
  color: rgba(var(--rgb-base-10), 0.27);

  cursor: not-allowed;
  transform: none;
}
