/**

<div class="n-dropdown">
  <button aria-expanded="true">open</button>
  <ul class="active">
    <li>item-1</li>
    <li>item-2</li>
    <li>item-3</li>
  </ul>
</div>

<div class="n-dropdown">
  <button aria-expanded="true">open</button>
  <div class="n-dropdown-list active">
    <div class="n-dropdown-item">
      item-1
    </div>
    <div class="n-dropdown-item">
      item-2
    </div>
    <div class="n-dropdown-item">
      item-3
    </div>
  </div>
</div>

*/

.n-dropdown {
  --dropdown-offset: 6px;
}

.n-dropdown {
  position: relative;
}

.n-dropdown > ul,
.n-dropdown .n-dropdown-list {
  display: none;
  position: absolute;

  min-width: 160px;
  margin-top: var(--dropdown-offset);
  padding: 4px;
  background-color: var(--color-base-1);
  border: 1px solid var(--color-base-3);
  border-radius: 8px;
  box-shadow: 0px 6px 8px -1px rgba(0, 0, 0, 0.08),
    0px 1px 2px -2px rgba(0, 0, 0, 0.01);

  z-index: var(--z-index-sticky);
}

.n-dropdown > ul > li,
.n-dropdown .n-dropdown-item {
  width: 100%;
  padding: 6px 8px;
  border-radius: 4px;

  font-size: 14px;
  font-weight: 500;

  overflow: hidden;
  transition: background-color 0.13s;
  user-select: none;

  cursor: pointer;
}

.n-dropdown > ul > li:hover,
.n-dropdown .n-dropdown-item:hover {
  background-color: rgba(var(--rgb-base-6), 0.12);
}

/* active ---------------------------------------------------------------------------- */
.n-dropdown > ul,
.n-dropdown .n-dropdown-list {
  display: none;
}

.n-dropdown  ul.active,
.n-dropdown  .n-dropdown-list.active {
  display: block;
}
