/* font */
/* 
  - title : semi-bold
  - subtitle : medium
  - heading1 (h1) : medium
  - heading2 (h2) : medium
  - heading3 (h3) : medium
 */

.n-font\:title {
  font-size: var(--font-size-8);
  font-weight: var(--font-weight-3);
  line-height: 150%;
  letter-spacing: -0.02em;
}

.n-font\:subtitle {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-2);
  line-height: 150%;
  letter-spacing: -0.02em;
}

.n-font\:heading,
.n-font\:heading-1,
.n-font\:h1 {
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-2);
  line-height: 150%;
  letter-spacing: -0.02em;
}

.n-font\:heading-2,
.n-font\:h2 {
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-2);
  line-height: 150%;
  letter-spacing: -0.02em;
}

.n-font\:heading-3,
.n-font\:h3 {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-2);
  line-height: 150%;
  letter-spacing: -0.02em;
}
