/**
  <ul class="n-list">
    <li> </li>
    <li> </li>
    <li> </li>
    <li> </li>
    <li> </li>
    <li> </li>
  </ul>
 */

/* ---- list ------------------------------------------------- */
.n-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.n-list > li {
  padding: 16px;
  background-color: var(--color-base-1);
  border: 1px solid var(--color-base-3);
  border-radius: 16px;
  box-shadow: 0px 0px 3px -1px rgba(22, 26, 32, 0.05),
    0px 2px 5px -1px rgba(50, 50, 93, 0.1);
}

/* ---- n-list grid-list ------------------------------------------------- */
.n-list.grid-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 768px) {
  .n-list.grid-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1200px) {
  .n-list.grid-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
