/**

<section class="n-modal example" tabindex="-1">
  <h1 class="n-font:h3 font-weight:3">모달 예시</h1>

  <div class="mt:8 text-align:center">Hello World</div>

  <div class="d:flex fl-dir:column gap:2 mt:8 w:10">
    <button class="n-btn n-btn:3">확인</button>
    <button class="n-btn n-btn:void n-btn:3">닫기</button>
  </div>

  <div class="pos:absolute top:4 right:4">
      <button type="button" class="n-btn n-btn:void w:2 h:2 p:0">
        <span class="icon icon:x icon:2">Close</span>
      </button>
  </div>
</section>

*/
.n-modal {
  --modal-border-radius: 16px;
  --modal-border: none;
  --modal-box-shadow: rgba(0, 0, 0, 0.08) 0 16px 20px -4px, rgba(0, 0, 0, 0.03) 0 8px 8px -4px;
  --modal-z-index: 1200;
}

.n-modal {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  padding-top: 16px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 16px;
  max-width: 90vw;
  border: var(--modal-border);
  border-radius: var(--modal-border-radius);
  background-color: var(--color-base-1);
  box-shadow: var(--modal-box-shadow);

  z-index: var(--modal-z-index);
}
