/** 

<ul class="n-pagination">
  <li>
    <a>1</a>
  </li>
  <li class="active">
    <a>2</a>
  </li>
  <li class="disabled">
    <a>3</a>
  </li>
</ul>
*/

.n-pagination {
  display: flex;
  align-items: center;
  gap: 8px;
}

.n-pagination > li > *,
.n-pagination .n-page {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 36px;
  height: 36px;
  padding: 4px 12px;
  border: 1px solid var(--color-base-3);;
  background-color: var(--color-base-1);
  border-radius: 8px;

  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
  user-select: none;
  transition: color 0.13s cubic-bezier(0.12, 0, 0.3, 0),
    background-color 0.13s cubic-bezier(0.12, 0, 0.3, 0);
}

.n-pagination > li:not(.active) > *:hover,
.n-pagination .n-page:hover {
  color: inherit;
  background-color: rgba(var(--rgb-base-10), 0.1);
}

.n-pagination li.active > *,
.n-pagination .n-page.active {
  border: 0 none transparent;
  color: var(--color-base-1);
  background-color: var(--color-main-2);
}

.n-pagination li.disabled > *,
.n-pagination .n-page.disabled {
  border: transparent;
  color: var(--color-base-5);
  background-color: rgba(var(--rgb-base-2), 0.6);
  pointer-events: none;
}
