/* ───────────────────────────────────
 * n-toggle
 * n-toggle:slide
 * size
 * disabled

 * n-toggle:check
 * size
 * disabled

 * n-toggle:dot
 * size
 * disabled

 * n-toggle:outline-box
 * size
 * disabled

 * n-toggle-label
 * ───────────────────────────────────    */

/* ---- n-toggle ------------------------------------------------- */

.n-toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: inline-block;
  cursor: pointer;
}

.n-toggle::before {
  content: "";
}

.n-toggle:checked,
.n-toggle.n-toggle-status\:checked,
.n-toggle.checked {
  background-color: var(--color-main-2);
}

/* n-toggle:slide */
.n-toggle,
.n-toggle-type\:slide,
.n-toggle\:slide {
  --n-toggle-bg-color: rgba(var(--rgb-base-10), 0.12);

  width: 44px;
  height: 24px;

  background-color: var(--n-toggle-bg-color);
  border-radius: 9999px;
  position: relative;

  transition: background-color ease 0.3s;
  border: transparent;
}

.n-toggle::before,
.n-toggle-type\:slide::before,
.n-toggle\:slide::before {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: var(--color-base-1);
  border-radius: 9999px;
  box-shadow: 0px 0px 2px 0px rgba(var(--rgb-base-10), 0.12);

  transition: all cubic-bezier(0.3, 1.3, 0.7, 1) 0.3s;
}

.n-toggle:checked::before,
.n-toggle.n-toggle-status\:checked::before,
.n-toggle.checked::before,
.n-toggle-type\:slide:checked::before,
.n-toggle-type\:slide.n-toggle-status\:checked::before,
.n-toggle-type\:slide.checked::before,
.n-toggle\:slide:checked::before,
.n-toggle\:slide.n-toggle-status\:checked::before,
.n-toggle\:slide.checked::before {
  left: 22px;
  -webkit-mask-image: none;
  mask-image: none;
}

/* size */
.n-toggle-size\:1,
.n-toggle\:1,
.n-toggle-size\:sm,
.n-toggle\:sm {
  width: 36px;
  height: 20px;
}

.n-toggle-size\:1::before,
.n-toggle\:1::before,
.n-toggle-size\:sm::before,
.n-toggle\:sm::before {
  width: 16px;
  height: 16px;
}

.n-toggle-size\:1:checked::before,
.n-toggle\:1:checked::before,
.n-toggle-size\:sm:checked::before,
.n-toggle\:sm:checked::before,
.n-toggle-size\:1.n-toggle-status\:checked::before,
.n-toggle\:1.n-toggle-status\:checked::before,
.n-toggle-size\:sm.n-toggle-status\:checked::before,
.n-toggle\:sm.n-toggle-status\:checked::before,
.n-toggle-size\:1.checked::before,
.n-toggle\:1.checked::before,
.n-toggle-size\:sm.checked::before,
.n-toggle\:sm.checked::before {
  left: 18px;
}

.n-toggle-size\:2,
.n-toggle\:2,
.n-toggle-size\:md,
.n-toggle\:md {
  width: 44px;
  height: 24px;
}

.n-toggle-size\:2::before,
.n-toggle\:2::before,
.n-toggle-size\:md::before,
.n-toggle\:md::before {
  width: 20px;
  height: 20px;
}

.n-toggle-size\:2:checked::before,
.n-toggle\:2:checked::before,
.n-toggle-size\:md:checked::before,
.n-toggle\:md:checked::before,
.n-toggle-size\:2.n-toggle-status\:checked::before,
.n-toggle\:2.n-toggle-status\:checked::before,
.n-toggle-size\:md.n-toggle-status\:checked::before,
.n-toggle\:md.n-toggle-status\:checked::before,
.n-toggle-size\:2.checked::before,
.n-toggle\:2.checked::before,
.n-toggle-size\:md.checked::before,
.n-toggle\:md.checked::before {
  left: 22px;
}

.n-toggle-size\:3,
.n-toggle\:3,
.n-toggle-size\:lg,
.n-toggle\:lg {
  width: 52px;
  height: 28px;
}

.n-toggle-size\:3::before,
.n-toggle\:3::before,
.n-toggle-size\:lg::before,
.n-toggle\:lg::before {
  width: 24px;
  height: 24px;
}

.n-toggle-size\:3:checked::before,
.n-toggle\:3:checked::before,
.n-toggle-size\:lg:checked::before,
.n-toggle\:lg:checked::before,
.n-toggle-size\:3.n-toggle-status\:checked::before,
.n-toggle\:3.n-toggle-status\:checked::before,
.n-toggle-size\:lg.n-toggle-status\:checked::before,
.n-toggle\:lg.n-toggle-status\:checked::before,
.n-toggle-size\:3.checked::before,
.n-toggle\:3.checked::before,
.n-toggle-size\:lg.checked::before,
.n-toggle\:lg.checked::before {
  left: 26px;
}

/* n-toggle:disabled */
.n-toggle:disabled,
.n-toggle.n-toggle-status\:disabled,
.n-toggle.disabled,
.n-toggle:checked:disabled,
.n-toggle:checked.n-toggle-status\:disabled,
.n-toggle:checked.disabled {
  --n-toggle-disabled-bg-color: rgba(var(--rgb-base-10), 0.05);

  background-color: var(--n-toggle-disabled-bg-color);
  cursor: not-allowed;
}

/* ---- n-toggle:check ------------------------------------------------- */

.n-toggle-type\:check,
.n-toggle\:check {
  --n-check-border-color: #dee2e6;

  display: inline-block;
  width: 24px;
  min-width: 24px;
  height: 24px;
  border: solid 1px var(--n-check-border-color);
  border-radius: 4px;
  background-color: var(--color-base-1);

  transition: initial;
}

.n-toggle-type\:check::before,
.n-toggle\:check::before {
  width: inherit;
  height: inherit;
  background-color: initial;
  box-shadow: initial;
  transition: initial;
  position: initial;
}

.n-toggle-type\:check:checked,
.n-toggle-type\:check.n-toggle-status\:checked,
.n-toggle-type\:check.checked,
.n-toggle\:check:checked,
.n-toggle\:check.n-toggle-status\:checked,
.n-toggle\:check.checked {
  background-color: var(--color-main-2);
  border: transparent;
}

.n-toggle-type\:check:checked::before,
.n-toggle-type\:check.n-toggle-status\:checked::before,
.n-toggle-type\:check.checked::before,
.n-toggle\:check:checked::before,
.n-toggle\:check.n-toggle-status\:checked::before,
.n-toggle\:check.checked::before {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: initial;
  display: inline-block;
  background-color: var(--color-base-1);

  -webkit-mask-image: url(../icon/check_bold.svg);
  mask-image: url(../icon/check_bold.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 20px 20px;
  mask-size: 20px 20px;
  -webkit-mask-position: center;
  mask-position: center;
}

/* size */
.n-toggle-type\:check.n-toggle-size\:1,
.n-toggle-type\:check.n-toggle\:1,
.n-toggle-type\:check.n-toggle-size\:sm,
.n-toggle-type\:check.n-toggle\:sm,
.n-toggle\:check.n-toggle-size\:1,
.n-toggle\:check.n-toggle\:1,
.n-toggle\:check.n-toggle-size\:sm,
.n-toggle\:check.n-toggle\:sm {
  width: 16px;
  min-width: 16px;
  height: 16px;
}

.n-toggle-type\:check.n-toggle-size\:1::before,
.n-toggle-type\:check.n-toggle\:1::before,
.n-toggle-type\:check.n-toggle-size\:sm::before,
.n-toggle-type\:check.n-toggle\:sm::before,
.n-toggle\:check.n-toggle-size\:1::before,
.n-toggle\:check.n-toggle\:1::before,
.n-toggle\:check.n-toggle-size\:sm::before,
.n-toggle\:check.n-toggle\:sm::before {
  -webkit-mask-size: 14px 14px;
  mask-size: 14px 14px;
}

.n-toggle-type\:check.n-toggle-size\:2,
.n-toggle-type\:check.n-toggle\:2,
.n-toggle-type\:check.n-toggle-size\:md,
.n-toggle-type\:check.n-toggle\:md,
.n-toggle\:check.n-toggle-size\:2,
.n-toggle\:check.n-toggle\:2,
.n-toggle\:check.n-toggle-size\:md,
.n-toggle\:check.n-toggle\:md {
  width: 24px;
  height: 24px;
}

.n-toggle-type\:check.n-toggle-size\:2::before,
.n-toggle-type\:check.n-toggle\:2::before,
.n-toggle-type\:check.n-toggle-size\:md::before,
.n-toggle-type\:check.n-toggle\:md::before,
.n-toggle\:check.n-toggle-size\:2::before,
.n-toggle\:check.n-toggle\:2::before,
.n-toggle\:check.n-toggle-size\:md::before,
.n-toggle\:check.n-toggle\:md::before {
  -webkit-mask-size: 20px 20px;
  mask-size: 20px 20px;
}

.n-toggle-type\:check.n-toggle-size\:3,
.n-toggle-type\:check.n-toggle\:3,
.n-toggle-type\:check.n-toggle-size\:lg,
.n-toggle-type\:check.n-toggle\:lg,
.n-toggle\:check.n-toggle-size\:3,
.n-toggle\:check.n-toggle\:3,
.n-toggle\:check.n-toggle-size\:lg,
.n-toggle\:check.n-toggle\:lg {
  width: 32px;
  min-width: 32px;
  height: 32px;
}

.n-toggle-type\:check.n-toggle-size\:3::before,
.n-toggle-type\:check.n-toggle\:3::before,
.n-toggle-type\:check.n-toggle-size\:lg::before,
.n-toggle-type\:check.n-toggle\:lg::before,
.n-toggle\:check.n-toggle-size\:3::before,
.n-toggle\:check.n-toggle\:3::before,
.n-toggle\:check.n-toggle-size\:lg::before,
.n-toggle\:check.n-toggle\:lg::before {
  -webkit-mask-size: 28px 28px;
  mask-size: 28px 28px;
}

/* disabled */
.n-toggle-type\:check:disabled,
.n-toggle-type\:check:checked:disabled,
.n-toggle-type\:check.n-toggle-status\:disabled,
.n-toggle-type\:check.disabled,
.n-toggle\:check:disabled,
.n-toggle\:check:checked:disabled,
.n-toggle\:check.n-toggle-status\:disabled,
.n-toggle\:check.disabled {
  --n-check-disabled-bg-color: rgba(var(--rgb-base-10), 0.05);
  --n-check-disabled-border-color: rgba(var(--rgb-base-10), 0.27);

  background-color: var(--n-check-disabled-bg-color);
  border: solid 1px var(--n-check-disabled-border-color);
  cursor: not-allowed;
}

.n-toggle-type\:check:checked:disabled::before,
.n-toggle-type\:check:checked.disabled:before,
.n-toggle-type\:check.checked:disabled::before,
.n-toggle-type\:check.checked.disabled::before,
.n-toggle-type\:check:checked.n-toggle-status\:disabled::before,
.n-toggle-type\:check.n-toggle-status\:checked:disabled::before,
.n-toggle-type\:check.n-toggle-status\:checked.n-toggle-status\:disabled::before,
.n-toggle\:check:checked:disabled::before,
.n-toggle\:check:checked.disabled:before,
.n-toggle\:check.checked:disabled::before,
.n-toggle\:check.checked.disabled::before,
.n-toggle\:check:checked.n-toggle-status\:disabled::before,
.n-toggle\:check.n-toggle-status\:checked:disabled::before,
.n-toggle\:check.n-toggle-status\:checked.n-toggle-status\:disabled::before {
  --n-check-disabled-bg-color-before: rgba(var(--rgb-base-10), 0.27);

  background-color: var(--n-check-disabled-bg-color-before);
  box-sizing: border-box;
  position: absolute;
  top: -1px;
  left: -1px;
}

/* ---- n-toggle:dot ------------------------------------------------- */
.n-toggle-type\:dot,
.n-toggle\:dot {
  --n-dot-border-color: #dee2e6;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  background-color: var(--color-base-1);
  border: solid 0.7px var(--n-dot-border-color);
  border-radius: 9999px;
  position: initial;

  transition: initial;
}

.n-toggle-type\:dot::before,
.n-toggle\:dot::before {
  --n-dot-circle-size: 16px;
  width: var(--n-dot-circle-size);
  height: var(--n-dot-circle-size);
  background-color: initial;
  box-shadow: initial;
  transition: initial;
  position: initial;
}

.n-toggle-type\:dot:checked,
.n-toggle-type\:dot:has(input:checked),
.n-toggle-type\:dot.n-toggle-status\:checked,
.n-toggle-type\:dot.checked,
.n-toggle\:dot:checked,
.n-toggle\:dot:has(input:checked),
.n-toggle\:dot.n-toggle-status\:checked,
.n-toggle\:dot.checked {
  background-color: initial;
  border-color: var(--color-main-2);
}

.n-toggle-type\:dot:checked::before,
.n-toggle-type\:dot:has(input:checked)::before,
.n-toggle-type\:dot.n-toggle-status\:checked::before,
.n-toggle-type\:dot.checked::before,
.n-toggle\:dot:checked::before,
.n-toggle\:dot:has(input:checked)::before,
.n-toggle\:dot.n-toggle-status\:checked::before,
.n-toggle\:dot.checked::before {
  content: "";
  display: block;
  width: var(--n-dot-circle-size);
  height: var(--n-dot-circle-size);
  background-color: var(--color-main-2);
  box-shadow: none;
  border-radius: 9999px;

  position: initial;
}

/* size */
.n-toggle-type\:dot.n-toggle-size\:1,
.n-toggle-type\:dot.n-toggle\:1,
.n-toggle-type\:dot.n-toggle-size\:sm,
.n-toggle-type\:dot.n-toggle\:sm,
.n-toggle\:dot.n-toggle-size\:1,
.n-toggle\:dot.n-toggle\:1,
.n-toggle\:dot.n-toggle-size\:sm,
.n-toggle\:dot.n-toggle\:sm {
  width: 20px;
  height: 20px;
}

.n-toggle-type\:dot.n-toggle-size\:1::before,
.n-toggle-type\:dot.n-toggle\:1::before,
.n-toggle-type\:dot.n-toggle-size\:sm::before,
.n-toggle-type\:dot.n-toggle\:sm::before,
.n-toggle\:dot.n-toggle-size\:1::before,
.n-toggle\:dot.n-toggle\:1::before,
.n-toggle\:dot.n-toggle-size\:sm::before,
.n-toggle\:dot.n-toggle\:sm::before {
  width: 12px;
  height: 12px;
}

.n-toggle-type\:dot.n-toggle-size\:2,
.n-toggle-type\:dot.n-toggle\:2,
.n-toggle-type\:dot.n-toggle-size\:md,
.n-toggle-type\:dot.n-toggle\:md,
.n-toggle\:dot.n-toggle-size\:2,
.n-toggle\:dot.n-toggle\:2,
.n-toggle\:dot.n-toggle-size\:md,
.n-toggle\:dot.n-toggle\:md {
  width: 24px;
  height: 24px;
}

.n-toggle-type\:dot.n-toggle-size\:2::before,
.n-toggle-type\:dot.n-toggle\:2::before,
.n-toggle-type\:dot.n-toggle-size\:md::before,
.n-toggle-type\:dot.n-toggle\:md::before,
.n-toggle\:dot.n-toggle-size\:2::before,
.n-toggle\:dot.n-toggle\:2::before,
.n-toggle\:dot.n-toggle-size\:md::before,
.n-toggle\:dot.n-toggle\:md::before {
  width: var(--n-dot-circle-size);
  height: var(--n-dot-circle-size);
}

.n-toggle-type\:dot.n-toggle-size\:3,
.n-toggle-type\:dot.n-toggle\:3,
.n-toggle-type\:dot.n-toggle-size\:lg,
.n-toggle-type\:dot.n-toggle\:lg,
.n-toggle\:dot.n-toggle-size\:3,
.n-toggle\:dot.n-toggle\:3,
.n-toggle\:dot.n-toggle-size\:lg,
.n-toggle\:dot.n-toggle\:lg {
  width: 28px;
  height: 28px;
}

.n-toggle-type\:dot.n-toggle-size\:3::before,
.n-toggle-type\:dot.n-toggle\:3::before,
.n-toggle-type\:dot.n-toggle-size\:lg::before,
.n-toggle-type\:dot.n-toggle\:lg::before,
.n-toggle\:dot.n-toggle-size\:3::before,
.n-toggle\:dot.n-toggle\:3::before,
.n-toggle\:dot.n-toggle-size\:lg::before,
.n-toggle\:dot.n-toggle\:lg::before {
  width: 20px;
  height: 20px;
}

/* disabled */
.n-toggle-type\:dot:disabled,
.n-toggle-type\:dot:checked:disabled,
.n-toggle-type\:dot.n-toggle-status\:disabled,
.n-toggle-type\:dot.disabled,
.n-toggle\:dot:disabled,
.n-toggle\:dot:checked:disabled,
.n-toggle\:dot.n-toggle-status\:disabled,
.n-toggle\:dot.disabled {
  --n-dot-disabled-bg-color: rgba(var(--rgb-base-10), 0.05);
  --n-dot-disabled-border-color: rgba(var(--rgb-base-10), 0.27);

  background-color: var(--n-dot-disabled-bg-color);
  border: solid 1px var(--n-dot-disabled-border-color);
  cursor: not-allowed;
}

.n-toggle-type\:dot:checked:disabled::before,
.n-toggle-type\:dot.checked:disabled::before,
.n-toggle-type\:dot.checked.disabled::before,
.n-toggle\:dot:checked:disabled::before,
.n-toggle\:dot:checked.disabled::before,
.n-toggle\:dot.checked.disabled::before {
  --dot-disabled-bg-color-before: rgba(var(--rgb-base-10), 0.27);

  background-color: var(--dot-disabled-bg-color-before);
}

/* ---- n-toggle:outline ------------------------------------------------- */

.n-toggle-type\:outline-box,
.n-toggle-type\:outline,
.n-toggle\:outline-box,
.n-toggle\:outline {
  --n-outline-color: rgba(var(--rgb-base-10), 0.85);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding-left: 12px;
  padding-right: 12px;
  width: fit-content;
  height: 32px;
  background-color: var(--color-base-1);
  border: 1px solid var(--color-base-3);
  border-radius: 8px;

  color: var(--n-outline-color);
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;

  transition: initial;
  white-space: nowrap;
  user-select: none;
}

.n-toggle-type\:outline-box::before,
.n-toggle-type\:outline::before,
.n-toggle\:outline-box::before,
.n-toggle\:outline::before {
  width: inherit;
  height: inherit;
  background-color: initial;
  box-shadow: initial;
  transition: initial;
  position: initial;
}

.n-toggle-type\:outline-box:checked,
.n-toggle-type\:outline-box:has(input:checked),
.n-toggle-type\:outline-box.n-toggle-status\:checked,
.n-toggle-type\:outline-box.checked,
.n-toggle-type\:outline:checked,
.n-toggle-type\:outline:has(input:checked),
.n-toggle-type\:outline.n-toggle-status\:checked,
.n-toggle-type\:outline.checked,
.n-toggle\:outline-box:checked,
.n-toggle\:outline-box:has(input:checked),
.n-toggle\:outline-box.n-toggle-status\:checked,
.n-toggle\:outline-box.checked,
.n-toggle\:outline:checked,
.n-toggle\:outline:has(input:checked),
.n-toggle\:outline.n-toggle-status\:checked,
.n-toggle\:outline.checked {
  background-color: var(--color-main-2);
  border-color: transparent;
  color: var(--color-base-1);
}

/* size */
.n-toggle-type\:outline-box.n-toggle-size\:1,
.n-toggle-type\:outline-box.n-toggle\:1,
.n-toggle-type\:outline-box.n-toggle-size\:sm,
.n-toggle-type\:outline-box.n-toggle\:sm,
.n-toggle-type\:outline.n-toggle-size\:1,
.n-toggle-type\:outline.n-toggle\:1,
.n-toggle-type\:outline.n-toggle-size\:sm,
.n-toggle-type\:outline.n-toggle\:sm,
.n-toggle\:outline-box.n-toggle-size\:1,
.n-toggle\:outline-box.n-toggle\:1,
.n-toggle\:outline-box.n-toggle-size\:sm,
.n-toggle\:outline-box.n-toggle\:sm,
.n-toggle\:outline.n-toggle-size\:1,
.n-toggle\:outline.n-toggle\:1,
.n-toggle\:outline.n-toggle-size\:sm,
.n-toggle\:outline.n-toggle\:sm {
  height: 24px;
  padding-right: 8px;
  padding-left: 8px;
}

.n-toggle-type\:outline-box.n-toggle-size\:2,
.n-toggle-type\:outline-box.n-toggle\:2,
.n-toggle-type\:outline-box.n-toggle-size\:md,
.n-toggle-type\:outline-box.n-toggle\:md,
.n-toggle-type\:outline.n-toggle-size\:2,
.n-toggle-type\:outline.n-toggle\:2,
.n-toggle-type\:outline.n-toggle-size\:md,
.n-toggle-type\:outline.n-toggle\:md,
.n-toggle\:outline-box.n-toggle-size\:2,
.n-toggle\:outline-box.n-toggle\:2,
.n-toggle\:outline-box.n-toggle-size\:md,
.n-toggle\:outline-box.n-toggle\:md,
.n-toggle\:outline.n-toggle-size\:2,
.n-toggle\:outline.n-toggle\:2,
.n-toggle\:outline.n-toggle-size\:md,
.n-toggle\:outline.n-toggle\:md {
  padding-left: 12px;
  padding-right: 12px;
  height: 32px;
}

.n-toggle-type\:outline-box.n-toggle-size\:3,
.n-toggle-type\:outline-box.n-toggle\:3,
.n-toggle-type\:outline-box.n-toggle-size\:lg,
.n-toggle-type\:outline-box.n-toggle\:lg,
.n-toggle-type\:outline.n-toggle-size\:3,
.n-toggle-type\:outline.n-toggle\:3,
.n-toggle-type\:outline.n-toggle-size\:lg,
.n-toggle-type\:outline.n-toggle\:lg,
.n-toggle\:outline-box.n-toggle-size\:3,
.n-toggle\:outline-box.n-toggle\:3,
.n-toggle\:outline-box.n-toggle-size\:lg,
.n-toggle\:outline-box.n-toggle\:lg,
.n-toggle\:outline.n-toggle-size\:3,
.n-toggle\:outline.n-toggle\:3,
.n-toggle\:outline.n-toggle-size\:lg,
.n-toggle\:outline.n-toggle\:lg {
  height: 40px;
  padding-right: 16px;
  padding-left: 16px;

  font-size: 16px;
  font-weight: 500;
}

/* disabled */
.n-toggle-type\:outline-box:has(input:disabled),
.n-toggle-type\:outline-box.n-toggle-status\:disabled,
.n-toggle-type\:outline-box:has(input:checked).n-toggle-status\:disabled,
.n-toggle-type\:outline-box.disabled,
.n-toggle-type\:outline-box:has(input:checked).disabled,
.n-toggle-type\:outline:has(input:disabled),
.n-toggle-type\:outline.n-toggle-status\:disabled,
.n-toggle-type\:outline:has(input:checked).n-toggle-status\:disabled,
.n-toggle-type\:outline.disabled,
.n-toggle-type\:outline:has(input:checked).disabled,
.n-toggle\:outline-box:has(input:disabled),
.n-toggle\:outline-box.n-toggle-status\:disabled,
.n-toggle\:outline-box:has(input:checked).n-toggle-status\:disabled,
.n-toggle\:outline-box.disabled,
.n-toggle\:outline-box:has(input:checked).disabled,
.n-toggle\:outline:has(input:disabled),
.n-toggle\:outline.n-toggle-status\:disabled,
.n-toggle\:outline:has(input:checked).n-toggle-status\:disabled,
.n-toggle\:outline.disabled,
.n-toggle\:outline:has(input:checked).disabled {
  --n-outline-disabled-bg-color: rgba(var(--rgb-base-10), 0.05);
  --n-outline-disabled-color: rgba(var(--rgb-base-10), 0.27);

  border-color: transparent;
  background-color: var(--n-outline-disabled-bg-color);
  color: var(--n-outline-disabled-color);
  cursor: not-allowed;
}

/* ---- n-toggle:outline ------------------------------------------------- */

label:has(.n-toggle),
label:has(.n-toggle.n-toggle-label),
label:has(.n-toggle.n-toggle-label\:right) {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: var(--gap-1);
  width: fit-content;
}

label:has(.n-toggle.n-toggle-label\:left) {
  flex-direction: row;
}

label:has(.n-toggle.n-toggle-label\:top) {
  flex-direction: column;
  align-items: start;
  gap: var(--gap-0);
}

label:has(.n-toggle.n-toggle-label\:bottom) {
  flex-direction: column-reverse;
  align-items: start;
  gap: var(--gap-0);
}
