/* color */
:root {
  --color-main-1: #99c842;
  --color-main-2: #85b132;
  --color-main-3: #759d2a;

  --rgb-main-1: 153, 200, 66;
  --rgb-main-2: 133, 177, 50;
  --rgb-main-3: 117, 157, 42;

  --color-sub-1: #339af0;
  --color-sub-2: #228be6;
  --color-sub-3: #1c7ed6;

  --rgb-sub-1: 51, 154, 240;
  --rgb-sub-2: 34, 139, 230;
  --rgb-sub-3: 28, 126, 214;

  --color-accent-1: #ff6b6b;
  --color-accent-2: #fa5252;
  --color-accent-3: #f03e3e;

  --rgb-accent-1: 255, 107, 107;
  --rgb-accent-2: 250, 82, 82;
  --rgb-accent-3: 240, 62, 62;

  --color-base-1: #ffffff;
  --color-base-2: #e4e7ea;
  --color-base-3: #dee2e6;
  --color-base-4: #ced4da;
  --color-base-5: #adb5bd;
  --color-base-6: #868e96;
  --color-base-7: #495057;
  --color-base-8: #343a40;
  --color-base-9: #1a1c20;
  --color-base-10: #000000;

  --rgb-base-1: 255, 255, 255;
  --rgb-base-2: 228, 231, 234;
  --rgb-base-3: 222, 226, 230;
  --rgb-base-4: 206, 212, 218;
  --rgb-base-5: 173, 181, 189;
  --rgb-base-6: 134, 142, 150;
  --rgb-base-7: 73, 80, 87;
  --rgb-base-8: 52, 58, 64;
  --rgb-base-9: 26, 28, 32;
  --rgb-base-10: 0, 0, 0;
}

/* gap */
:root {
  --gap-0: 0px;
  --gap-1: 4px;
  --gap-2: 8px;
  --gap-3: 12px;
  --gap-4: 16px;
  --gap-5: 20px;
  --gap-6: 24px;
  --gap-7: 28px;
  --gap-8: 32px;
  --gap-9: 36px;
  --gap-10: 40px;
  --gap-full: 9999px;
}

/* width */
:root {
  --width-0: 0px;
  --width-1: 16px;
  --width-2: 32px;
  --width-3: 48px;
  --width-4: 64px;
  --width-5: 80px;
  --width-6: 96px;
  --width-7: 112px;
  --width-8: 144px;
  --width-9: 160px
  --width-10: 176px;
}

/* border */
:root {
  --border-color: var(--color-base-3);

  --border-width-1: 1px;
  --border-width-2: 2px;
  --border-width-3: 3px;

  --border-radius-0: 0;
  --border-radius-1: 4px;
  --border-radius-2: 8px;
  --border-radius-3: 12px;
  --border-radius-4: 16px;
  --border-radius-full: 9999px;
}

/* font-size */
:root {
  --font-size-1: 0.75rem; /* 12px */
  --font-size-2: 0.875rem; /* 14px */
  --font-size-3: 1rem; /* 16px */
  --font-size-4: 1.125rem; /* 18px */
  --font-size-5: 1.25rem; /* 20px */
  --font-size-6: 1.375rem; /* 22px */
  --font-size-7: 1.625rem; /* 26px */
  --font-size-8: 2rem; /* 32px */
  --font-size-9: 3.5rem; /* 56px */
}

/* font-weight */
:root {
  --font-weight-1: 400;
  --font-weight-2: 500;
  --font-weight-3: 700;
}

/* opacity */
:root {
  --opacity-0: 0;
  --opacity-1: 0.1;
  --opacity-2: 0.18;
  --opacity-3: 0.3;
  --opacity-4: 0.45;
  --opacity-5: 0.5;
  --opacity-6: 0.57;
  --opacity-7: 0.7;
  --opacity-8: 0.8;
  --opacity-9: 0.9;
  --opacity-10: 1;
}

/* order */
:root {
  --order-1: -1;
  --order-2: 2;
  --order-3: 3;
  --order-4: 4;
  --order-5: 5;
}

/* box-shadow */
:root {
  --box-shadow-1: 0px 1px 1.5px 0px rgba(0, 0, 0, 0.05);
  --box-shadow-2: 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 1px 1px -0.5px rgba(0, 0, 0, 0.01);
  --box-shadow-3: 0px 3px 4px 0px rgba(0, 0, 0, 0.08),
    0px 1px 2px -1px rgba(0, 0, 0, 0.01);
  --box-shadow-4: 0px 6px 8px -2px rgba(0, 0, 0, 0.08),
    0px 2px 3px -2px rgba(0, 0, 0, 0.01);
  --box-shadow-5: 0px 8px 12px -2px rgba(0, 0, 0, 0.08),
    0px 3px 4px -3px rgba(0, 0, 0, 0.01);
  --box-shadow-6: 0px 16px 20px -4px rgba(0, 0, 0, 0.08),
    0px 6px 8px -5px rgba(0, 0, 0, 0.01);
  --box-shadow-7: 0px 20px 40px -9px rgba(0, 0, 0, 0.17);
}

/* z-index */
:root {
  --z-index-1: 1;
  --z-index-2: 200;
  --z-index-3: 500;
  --z-index-4: 1000;
  --z-index-5: 2000;
}

/* icon */
:root {
  --icon-size-1: 0.75rem; /* 12px */
  --icon-size-2: 1rem; /* 16px */
  --icon-size-3: 1.125rem; /* 18px */
  --icon-size-4: 1.25rem; /* 20px */
  --icon-size-5: 1.5rem; /* 24px */
  --icon-color: var(--color-base-9);
}

/* deco */
:root {
  --deco-size-1: 0.75rem; /* 12px */
  --deco-size-2: 1rem; /* 16px */
  --deco-size-3: 1.125rem; /* 18px */
  --deco-size-4: 1.25rem; /* 20px */
  --deco-size-5: 1.5rem; /* 24px */
  --deco-color: var(--color-base-9);
}
