/* align-content */
.align-content\:start,          .align-c\:start,      .ac\:start { align-content : start !important; }
.align-content\:center,         .align-c\:center,     .ac\:center { align-content : center !important; }
.align-content\:end,            .align-c\:end,        .ac\:end { align-content : end !important; }
.align-content\:flex-start,     .align-c\:flex-start, .ac\:flex-start { align-content: flex-start !important; }
.align-content\:flex-end, 	    .align-c\:flex-end,   .ac\:flex-end { align-content: flex-end !important; }

/* align-items */
.align-items\:stretch,          .align-i\:stretch,    .ai\:stretch { align-items : stretch !important; }
.align-items\:center,           .align-i\:center,     .ai\:center { align-items : center !important; }
.align-items\:start,            .align-i\:start,      .ai\:start { align-items : start !important; }
.align-items\:end,              .align-i\:end,        .ai\:end { align-items : end !important; }
.align-items\:self-start,       .align-i\:start, 	  .ai\:self-start { -ms-flex-align: start !important; align-items: self-start!important; }
.align-items\:self-end,         .align-i\:self-end,   .ai\:self-end { -ms-flex-align: end !important; align-items: slef-end!important; }
.align-items\:flex-start,       .align-i\:flex-start, .ai\:flex-start { -ms-flex-align: start !important; align-items: flex-start!important; }
.align-items\:flex-end,         .align-i\:flex-end,   .ai\:flex-end { -ms-flex-align: end !important; align-items: flex-end!important; }

/* align-self */
.align-self\:stretch,          .align-s\:stretch,     .as\:stretch { align-self : stretch !important; }
.align-self\:center,           .align-s\:center,      .as\:center { align-self : center !important; }
.align-self\:start,            .align-s\:start,       .as\:start { align-self : start !important; }
.align-self\:end,              .align-s\:end,         .as\:end { align-self : end !important; }
.align-self\:self-start,       .align-s\:start, 	  .as\:self-start { align-self: self-start!important; }
.align-self\:self-end,         .align-s\:self-end,    .as\:self-end { align-self: slef-end!important; }
.align-self\:flex-start,       .align-s\:flex-start,  .as\:flex-start { align-self: flex-start!important; }
.align-self\:flex-end,         .align-s\:flex-end, 	  .as\:flex-end { align-self: flex-end!important; }

/* ---- medium ------------------------------------------------- */
@media (min-width: 768px) {
    /* align-content */
    .md\:align-content\:start,          .md\:align-c\:start,      .md\:ac\:start { align-content : start !important; }
    .md\:align-content\:center,         .md\:align-c\:center,     .md\:ac\:center { align-content : center !important; }
    .md\:align-content\:end,            .md\:align-c\:end,        .md\:ac\:end { align-content : end !important; }
    .md\:align-content\:flex-start,     .md\:align-c\:flex-start, .md\:ac\:flex-start { align-content: flex-start !important; }
    .md\:align-content\:flex-end, 	    .md\:align-c\:flex-end,   .md\:ac\:flex-end { align-content: flex-end !important; }

    /* align-items */
    .md\:align-items\:stretch,          .md\:align-i\:stretch,    .md\:ai\:stretch { align-items : stretch !important; }
    .md\:align-items\:center,           .md\:align-i\:center,     .md\:ai\:center { align-items : center !important; }
    .md\:align-items\:start,            .md\:align-i\:start,      .md\:ai\:start { align-items : start !important; }
    .md\:align-items\:end,              .md\:align-i\:end,        .md\:ai\:end { align-items : end !important; }
    .md\:align-items\:self-start,       .md\:align-i\:start, 	  .md\:ai\:self-start { -ms-flex-align: start !important; align-items: self-start!important; }
    .md\:align-items\:self-end,         .md\:align-i\:self-end,   .md\:ai\:self-end { -ms-flex-align: end !important; align-items: slef-end!important; }
    .md\:align-items\:flex-start,       .md\:align-i\:flex-start, .md\:ai\:flex-start { -ms-flex-align: start !important; align-items: flex-start!important; }
    .md\:align-items\:flex-end,         .md\:align-i\:flex-end,   .md\:ai\:flex-end { -ms-flex-align: end !important; align-items: flex-end!important; }

    /* align-self */
    .md\:align-self\:stretch,          .md\:align-s\:stretch,     .md\:as\:stretch { align-self : stretch !important; }
    .md\:align-self\:center,           .md\:align-s\:center,      .md\:as\:center { align-self : center !important; }
    .md\:align-self\:start,            .md\:align-s\:start,       .md\:as\:start { align-self : start !important; }
    .md\:align-self\:end,              .md\:align-s\:end,         .md\:as\:end { align-self : end !important; }
    .md\:align-self\:self-start,       .md\:align-s\:start, 	  .md\:as\:self-start { align-self: self-start!important; }
    .md\:align-self\:self-end,         .md\:align-s\:self-end,    .md\:as\:self-end { align-self: slef-end!important; }
    .md\:align-self\:flex-start,       .md\:align-s\:flex-start,  .md\:as\:flex-start { align-self: flex-start!important; }
    .md\:align-self\:flex-end,         .md\:align-s\:flex-end, 	  .md\:as\:flex-end { align-self: flex-end!important; }
}

/* ---- large ------------------------------------------------- */
@media (min-width: 1200px) {
    /* align-content */
    .lg\:align-content\:start,          .lg\:align-c\:start,      .lg\:ac\:start { align-content : start !important; }
    .lg\:align-content\:center,         .lg\:align-c\:center,     .lg\:ac\:center { align-content : center !important; }
    .lg\:align-content\:end,            .lg\:align-c\:end,        .lg\:ac\:end { align-content : end !important; }
    .lg\:align-content\:flex-start,     .lg\:align-c\:flex-start, .lg\:ac\:flex-start { align-content: flex-start !important; }
    .lg\:align-content\:flex-end, 	    .lg\:align-c\:flex-end,   .lg\:ac\:flex-end { align-content: flex-end !important; }

    /* align-items */
    .lg\:align-items\:stretch,          .lg\:align-i\:stretch,    .lg\:ai\:stretch { align-items : stretch !important; }
    .lg\:align-items\:center,           .lg\:align-i\:center,     .lg\:ai\:center { align-items : center !important; }
    .lg\:align-items\:start,            .lg\:align-i\:start,      .lg\:ai\:start { align-items : start !important; }
    .lg\:align-items\:end,              .lg\:align-i\:end,        .lg\:ai\:end { align-items : end !important; }
    .lg\:align-items\:self-start,       .lg\:align-i\:start, 	  .lg\:ai\:self-start { -ms-flex-align: start !important; align-items: self-start!important; }
    .lg\:align-items\:self-end,         .lg\:align-i\:self-end,   .lg\:ai\:self-end { -ms-flex-align: end !important; align-items: slef-end!important; }
    .lg\:align-items\:flex-start,       .lg\:align-i\:flex-start, .lg\:ai\:flex-start { -ms-flex-align: start !important; align-items: flex-start!important; }
    .lg\:align-items\:flex-end,         .lg\:align-i\:flex-end,   .lg\:ai\:flex-end { -ms-flex-align: end !important; align-items: flex-end!important; }

    /* align-self */
    .lg\:align-self\:stretch,          .lg\:align-s\:stretch,     .lg\:as\:stretch { align-self : stretch !important; }
    .lg\:align-self\:center,           .lg\:align-s\:center,      .lg\:as\:center { align-self : center !important; }
    .lg\:align-self\:start,            .lg\:align-s\:start,       .lg\:as\:start { align-self : start !important; }
    .lg\:align-self\:end,              .lg\:align-s\:end,         .lg\:as\:end { align-self : end !important; }
    .lg\:align-self\:self-start,       .lg\:align-s\:start, 	  .lg\:as\:self-start { align-self: self-start!important; }
    .lg\:align-self\:self-end,         .lg\:align-s\:self-end,    .lg\:as\:self-end { align-self: slef-end!important; }
    .lg\:align-self\:flex-start,       .lg\:align-s\:flex-start,  .lg\:as\:flex-start { align-self: flex-start!important; }
    .lg\:align-self\:flex-end,         .lg\:align-s\:flex-end, 	  .lg\:as\:flex-end { align-self: flex-end!important; }
}