/* ───────────────────────────────────
 * list-style
 * list-style-position
 * list-style-type
 * list-style-image
 * ───────────────────────────────────    */

/* list-style */
.list-style\:none,          .list-s\:none { list-style: none !important; }

/* list-style-position */
.list-style-position\:inside,				  .list-sp\:inside	{ list-style-position: inside !important; }
.list-style-position\:outside,				.list-sp\:outside	{ list-style-position: outside !important; }

/* list-style-type */
.list-style-type\:disc,					    .list-st\:disc	{ list-style-type: disc !important; }
.list-style-type\:circle,					  .list-st\:circle	{ list-style-type: circle !important; }
.list-style-type\:decimal,					.list-st\:decimal	{ list-style-type: decimal !important; }
.list-style-type\:square,					  .list-st\:square	{ list-style-type: square !important; }

/* list-style-image */
.list-style-image\:none,                    .list-si\:none  { list-style-image: none !important;}

/* ---- medium ------------------------------------------------- */
@media (min-width: 768px) {
  /* list-style */
  .md\:list-style\:square,        .md\:list-s\:square { list-style: square !important; }
  .md\:list-style\:inside,        .md\:list-s\:inside { list-style: inside !important; }
  .md\:list-style\:none,          .md\:list-s\:none { list-style: none !important; }

  /* list-style-position */
  .md\:list-style-position\:inside,       .md\:list-sp\:inside { list-style-position: inside !important; }
  .md\:list-style-position\:outside,      .md\:list-sp\:outside { list-style-position: outside !important; }

  /* list-style-type */
  .md\:list-style-type\:disc,             .md\:list-st\:disc { list-style-type: disc !important; }
  .md\:list-style-type\:circle,           .md\:list-st\:circle { list-style-type: circle !important; }
  .md\:list-style-type\:decimal,          .md\:list-st\:decimal { list-style-type: decimal !important; }
  .md\:list-style-type\:square,           .md\:list-st\:square { list-style-type: square !important; }

  /* list-style-image */
  .md\:list-style-image\:none,            .md\:list-si\:none { list-style-image: none !important; }
}

/* ---- large ------------------------------------------------- */
@media (min-width: 1200px) {
  /* list-style */
  .lg\:list-style\:square,        .lg\:list-s\:square { list-style: square !important; }
  .lg\:list-style\:inside,        .lg\:list-s\:inside { list-style: inside !important; }
  .lg\:list-style\:none,          .lg\:list-s\:none { list-style: none !important; }

  /* list-style-position */
  .lg\:list-style-position\:inside,       .lg\:list-sp\:inside { list-style-position: inside !important; }
  .lg\:list-style-position\:outside,      .lg\:list-sp\:outside { list-style-position: outside !important; }

  /* list-style-type */
  .lg\:list-style-type\:disc,             .lg\:list-st\:disc { list-style-type: disc !important; }
  .lg\:list-style-type\:circle,           .lg\:list-st\:circle { list-style-type: circle !important; }
  .lg\:list-style-type\:decimal,          .lg\:list-st\:decimal { list-style-type: decimal !important; }
  .lg\:list-style-type\:square,           .lg\:list-st\:square { list-style-type: square !important; }

  /* list-style-image */
  .lg\:list-style-image\:none,            .lg\:list-si\:none { list-style-image: none !important; }
}
