/* overflow에 줄임말이 있어 of 사용하지 않음 */
.object-fit\:fill,                  .object\:fill { object-fit: fill !important; }
.object-fit\:contain,               .object\:contain { object-fit: contain !important; }
.object-fit\:cover,                 .object\:cover { object-fit: cover !important; }
.object-fit\:none,                  .object\:none { object-fit: none !important; }
.object-fit\:scale-down,            .object\:scale-down { object-fit: scale-down !important; }

/* ---- medium ------------------------------------------------- */
@media (min-width: 768px) {
  .md\:object-fit\:fill,                  .md\:object\:fill { object-fit: fill !important; }
  .md\:object-fit\:contain,               .md\:object\:contain { object-fit: contain !important; }
  .md\:object-fit\:cover,                 .md\:object\:cover { object-fit: cover !important; }
  .md\:object-fit\:none,                  .md\:object\:none { object-fit: none !important; }
  .md\:object-fit\:scale-down,            .md\:object\:scale-down { object-fit: scale-down !important; }
}

/* ---- large ------------------------------------------------- */
@media (min-width: 1200px) {
  .lg\:object-fit\:fill,                  .lg\:object\:fill { object-fit: fill !important; }
  .lg\:object-fit\:contain,               .lg\:object\:contain { object-fit: contain !important; }
  .lg\:object-fit\:cover,                 .lg\:object\:cover { object-fit: cover !important; }
  .lg\:object-fit\:none,                  .lg\:object\:none { object-fit: none !important; }
  .lg\:object-fit\:scale-down,            .lg\:object\:scale-down { object-fit: scale-down !important; }
}