/*
 * text-indent
 * text-align
 * text-decoration
 * text-decoration-style
 * text-transform
 * white-space
 * word-break
 * hyphens
 * overflow-wrap
 * line-clamp
 */

/* text-indent */
.text-indent\:0,      .text-i\:0 { text-indent: var(--gap-0) !important; }
.text-indent\:1,      .text-i\:1 { text-indent: var(--gap-1) !important; }
.text-indent\:2,      .text-i\:2 { text-indent: var(--gap-2) !important; }
.text-indent\:3,      .text-i\:3 { text-indent: var(--gap-3) !important; }
.text-indent\:4,      .text-i\:4 { text-indent: var(--gap-4) !important; }
.text-indent\:5,      .text-i\:5 { text-indent: var(--gap-5) !important; }
.text-indent\:6,      .text-i\:6 { text-indent: var(--gap-6) !important; }
.text-indent\:7,      .text-i\:7 { text-indent: var(--gap-7) !important; }
.text-indent\:8,      .text-i\:8 { text-indent: var(--gap-8) !important; }
.text-indent\:9,      .text-i\:9 { text-indent: var(--gap-9) !important; }
.text-indent\:10,      .text-i\:10 { text-indent: var(--gap-10) !important; }

/* text-align */
.text-align\:left, 		.text-a\:left { text-align: left !important; }
.text-align\:center, 	.text-a\:center { text-align: center !important; }
.text-align\:right, 	.text-a\:right { text-align: right !important;}
.text-align\:justify, 	.text-a\:justify { text-align: justify !important; }
.text-align\:start, 	.text-a\:start { text-align: start !important; }
.text-align\:end, 	    .text-a\:end { text-align: end !important; }

/* text-decoration  */
.text-decoration\:underline, 	    .text-d\:underline { text-decoration: underline !important; }
.text-decoration\:line-through, 	.text-d\:line-through { text-decoration: line-through !important; }
.text-decoration\:overline, 	    .text-d\:overline { text-decoration: underline !important; }
.text-decoration\:none, 	        .text-d\:none { text-decoration: none !important; }

/* text-decoration-style  */
.text-decoration-style\:solid,       .text-ds\:solid { text-decoration-style: solid !important; }
.text-decoration-style\:double,      .text-ds\:double { text-decoration-style: double !important; }
.text-decoration-style\:dotted,      .text-ds\:solid { text-decoration-style: dotted !important; }
.text-decoration-style\:wavy,        .text-ds\:wavy { text-decoration-style: wavy !important; }

/* text-transform */
.text-transform\:lowercase,      .text-t\:lowercase { text-transform: lowercase !important; }
.text-transform\:uppercase,      .text-t\:uppercase { text-transform: uppercase !important; }
.text-transform\:capitalize,     .text-t\:capitalize { text-transform: capitalize !important; }
.text-transform\:none,           .text-t\:none { text-transform: none !important; }

/* white-space */
.white-space\:normal,            .white-s\:normal { white-space: normal !important; }
.white-space\:nowrap,            .white-s\:nowrap { white-space: nowrap !important; }
.white-space\:pre,               .white-s\:pre { white-space: pre !important; }
.white-space\:pre-line,          .white-s\:pre-line { white-space: pre-line !important; }
.white-space\:pre-wrap,          .white-s\:pre-wrap { white-space: pre-wrap !important; }
.white-space\:break-spaces,      .white-s\:break-space { white-space: break-spaces !important; }

/* word-break */
.word-break\:normal,         .word-b\:normal {word-break: normal !important; }
.word-break\:break-all,      .word-b\:break-all {word-break: break-all !important; }
.word-break\:keep-all,       .word-b\:keep-all {word-break: keep-all !important; }
.word-break\:break-word,     .word-b\:break-word {word-break: break-word !important; }

/* hyphens */
.hyphens\:manual,           .hyn\:manual { hyphens: manual !important; }
.hyphens\:auto,             .hyn\:auto { hyphens: auto !important; }
.hyphens\:none,             .hyn\:none { hyphens: none !important; }

/* overflow-wrap  */
.overflow-wrap\:normal,          .overflow-w\:normal { overflow-wrap: normal !important; }
.overflow-wrap\:break-word,      .overflow-w\:break-word { overflow-wrap: break-word !important; }
.overflow-wrap\:anywhere,        .overflow-w\:anywhere { overflow-wrap: anywhere !important; }

/* ---- medium ------------------------------------------------- */
@media (min-width: 768px) {
    /* text-indent */
    .md\:text-indent\:0,      .md\:text-i\:0 { text-indent: var(--gap-0) !important; }
    .md\:text-indent\:1,      .md\:text-i\:1 { text-indent: var(--gap-1) !important; }
    .md\:text-indent\:2,      .md\:text-i\:2 { text-indent: var(--gap-2) !important; }
    .md\:text-indent\:3,      .md\:text-i\:3 { text-indent: var(--gap-3) !important; }
    .md\:text-indent\:4,      .md\:text-i\:4 { text-indent: var(--gap-4) !important; }
    .md\:text-indent\:5,      .md\:text-i\:5 { text-indent: var(--gap-5) !important; }
    .md\:text-indent\:6,      .md\:text-i\:6 { text-indent: var(--gap-6) !important; }
    .md\:text-indent\:7,      .md\:text-i\:7 { text-indent: var(--gap-7) !important; }
    .md\:text-indent\:8,      .md\:text-i\:8 { text-indent: var(--gap-8) !important; }
    .md\:text-indent\:9,      .md\:text-i\:9 { text-indent: var(--gap-9) !important; }
    .md\:text-indent\:10,      .md\:text-i\:10 { text-indent: var(--gap-10) !important; }

    /* text-align */
    .md\:text-align\:left,      .md\:text-a\:left { text-align: left !important; }
    .md\:text-align\:center,    .md\:text-a\:center { text-align: center !important; }
    .md\:text-align\:right,     .md\:text-a\:right { text-align: right !important; }
    .md\:text-align\:justify,   .md\:text-a\:justify { text-align: justify !important; }
    .md\:text-align\:start,     .md\:text-a\:start { text-align: start !important; }
    .md\:text-align\:end,       .md\:text-a\:end { text-align: end !important; }

    /* text-decoration */
    .md\:text-decoration\:underline,       .md\:text-d\:underline { text-decoration: underline !important; }
    .md\:text-decoration\:line-through,    .md\:text-d\:line-through { text-decoration: line-through !important; }
    .md\:text-decoration\:overline,        .md\:text-d\:overline { text-decoration: overline !important; }
    .md\:text-decoration\:none,            .md\:text-d\:none { text-decoration: none !important; }

    /* text-decoration-style */
    .md\:text-decoration-style\:solid,     .md\:text-ds\:solid { text-decoration-style: solid !important; }
    .md\:text-decoration-style\:double,    .md\:text-ds\:double { text-decoration-style: double !important; }
    .md\:text-decoration-style\:dotted,    .md\:text-ds\:dotted { text-decoration-style: dotted !important; }
    .md\:text-decoration-style\:wavy,      .md\:text-ds\:wavy { text-decoration-style: wavy !important; }

    /* text-transform */
    .md\:text-transform\:lowercase,        .md\:text-t\:lowercase { text-transform: lowercase !important; }
    .md\:text-transform\:uppercase,        .md\:text-t\:uppercase { text-transform: uppercase !important; }
    .md\:text-transform\:capitalize,       .md\:text-t\:capitalize { text-transform: capitalize !important; }
    .md\:text-transform\:none,             .md\:text-t\:none { text-transform: none !important; }

    /* white-space */
    .md\:white-space\:normal,              .md\:white-s\:normal { white-space: normal !important; }
    .md\:white-space\:nowrap,              .md\:white-s\:nowrap { white-space: nowrap !important; }
    .md\:white-space\:pre,                 .md\:white-s\:pre { white-space: pre !important; }
    .md\:white-space\:pre-line,            .md\:white-s\:pre-line { white-space: pre-line !important; }
    .md\:white-space\:pre-wrap,            .md\:white-s\:pre-wrap { white-space: pre-wrap !important; }
    .md\:white-space\:break-spaces,        .md\:white-s\:break-space { white-space: break-spaces !important; }

    /* word-break */
    .md\:word-break\:normal,               .md\:word-b\:normal { word-break: normal !important; }
    .md\:word-break\:break-all,            .md\:word-b\:break-all { word-break: break-all !important}
    .md\:word-break\:keep-all,              .md\:word-b\:keep-all { word-break: keep-all !important; }
    .md\:word-break\:break-word,            .md\:word-b\:break-word { word-break: break-word !important; }
    
    /* hyphens */
    .md\:hyphens\:manual,                  .md\:hyn\:manual { hyphens: manual !important; }
    .md\:hyphens\:auto,                    .md\:hyn\:auto { hyphens: auto !important; }
    .md\:hyphens\:none,                    .md\:hyn\:none { hyphens: none !important; }

    /* overflow-wrap */
    .md\:overflow-wrap\:normal,          .md\:overflow-w\:normal { overflow-wrap: normal !important; }
    .md\:overflow-wrap\:break-word,      .md\:overflow-w\:break-word { overflow-wrap: break-word !important; }
    .md\:overflow-wrap\:anywhere,        .md\:overflow-w\:anywhere { overflow-wrap: anywhere !important; }

}

/* ---- large ------------------------------------------------- */
@media (min-width: 1200px) {
    
    /* text-indent */
    .lg\:text-indent\:0,      .lg\:text-i\:0 { text-indent: var(--gap-0) !important; }
    .lg\:text-indent\:1,      .lg\:text-i\:1 { text-indent: var(--gap-1) !important; }
    .lg\:text-indent\:2,      .lg\:text-i\:2 { text-indent: var(--gap-2) !important; }
    .lg\:text-indent\:3,      .lg\:text-i\:3 { text-indent: var(--gap-3) !important; }
    .lg\:text-indent\:4,      .lg\:text-i\:4 { text-indent: var(--gap-4) !important; }
    .lg\:text-indent\:5,      .lg\:text-i\:5 { text-indent: var(--gap-5) !important; }
    .lg\:text-indent\:6,      .lg\:text-i\:6 { text-indent: var(--gap-6) !important; }
    .lg\:text-indent\:7,      .lg\:text-i\:7 { text-indent: var(--gap-7) !important; }
    .lg\:text-indent\:8,      .lg\:text-i\:8 { text-indent: var(--gap-8) !important; }
    .lg\:text-indent\:9,      .lg\:text-i\:9 { text-indent: var(--gap-9) !important; }
    .lg\:text-indent\:10,      .lg\:text-i\:10 { text-indent: var(--gap-10) !important; }

    /* text-align */
    .lg\:text-align\:left,      .lg\:text-a\:left { text-align: left !important; }
    .lg\:text-align\:center,    .lg\:text-a\:center { text-align: center !important; }
    .lg\:text-align\:right,     .lg\:text-a\:right { text-align: right !important; }
    .lg\:text-align\:justify,   .lg\:text-a\:justify { text-align: justify !important; }
    .lg\:text-align\:start,     .lg\:text-a\:start { text-align: start !important; }
    .lg\:text-align\:end,       .lg\:text-a\:end { text-align: end !important; }

    /* text-decoration */
    .lg\:text-decoration\:underline,       .lg\:text-d\:underline { text-decoration: underline !important; }
    .lg\:text-decoration\:line-through,    .lg\:text-d\:line-through { text-decoration: line-through !important; }
    .lg\:text-decoration\:overline,        .lg\:text-d\:overline { text-decoration: overline !important; }
    .lg\:text-decoration\:none,            .lg\:text-d\:none { text-decoration: none !important; }

    /* text-decoration-style */
    .lg\:text-decoration-style\:solid,     .lg\:text-ds\:solid { text-decoration-style: solid !important; }
    .lg\:text-decoration-style\:double,    .lg\:text-ds\:double { text-decoration-style: double !important; }
    .lg\:text-decoration-style\:dotted,    .lg\:text-ds\:dotted { text-decoration-style: dotted !important; }
    .lg\:text-decoration-style\:wavy,      .lg\:text-ds\:wavy { text-decoration-style: wavy !important; }

    /* text-transform */
    .lg\:text-transform\:lowercase,        .lg\:text-t\:lowercase { text-transform: lowercase !important; }
    .lg\:text-transform\:uppercase,        .lg\:text-t\:uppercase { text-transform: uppercase !important; }
    .lg\:text-transform\:capitalize,       .lg\:text-t\:capitalize { text-transform: capitalize !important; }
    .lg\:text-transform\:none,             .lg\:text-t\:none { text-transform: none !important; }

    /* white-space */
    .lg\:white-space\:normal,              .lg\:white-s\:normal { white-space: normal !important; }
    .lg\:white-space\:nowrap,              .lg\:white-s\:nowrap { white-space: nowrap !important; }
    .lg\:white-space\:pre,                 .lg\:white-s\:pre { white-space: pre !important; }
    .lg\:white-space\:pre-line,            .lg\:white-s\:pre-line { white-space: pre-line !important; }
    .lg\:white-space\:pre-wrap,            .lg\:white-s\:pre-wrap { white-space: pre-wrap !important; }
    .lg\:white-space\:break-spaces,        .lg\:white-s\:break-space { white-space: break-spaces !important; }

    /* word-break */
    .lg\:word-break\:normal,               .lg\:word-b\:normal { word-break: normal !important; }
    .lg\:word-break\:break-all,            .lg\:word-b\:break-all { word-break: break-all !important}
    .lg\:word-break\:keep-all,              .lg\:word-b\:keep-all { word-break: keep-all !important; }
    .lg\:word-break\:break-word,            .lg\:word-b\:break-word { word-break: break-word !important; }
    
    /* hyphens */
    .lg\:hyphens\:manual,                  .lg\:hyn\:manual { hyphens: manual !important; }
    .lg\:hyphens\:auto,                    .lg\:hyn\:auto { hyphens: auto !important; }
    .lg\:hyphens\:none,                    .lg\:hyn\:none { hyphens: none !important; }

    /* overflow-wrap */
    .lg\:overflow-wrap\:normal,          .lg\:overflow-w\:normal { overflow-wrap: normal !important; }
    .lg\:overflow-wrap\:break-word,      .lg\:overflow-w\:break-word { overflow-wrap: break-word !important; }
    .lg\:overflow-wrap\:anywhere,        .lg\:overflow-w\:anywhere { overflow-wrap: anywhere !important; }
}

/* ───────────────────────────────────
 * line-clamp
 * ───────────────────────────────────    */     
.line-clamp\:1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.line-clamp\:2 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.line-clamp\:3 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
    
/* ---- medium ------------------------------------------------- */
@media ( min-width: 768px ) {
    .md\:line-clamp\:1 {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        }

    .md\:line-clamp\:2 {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .md\:line-clamp\:3 {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

/* ---- large ------------------------------------------------- */
@media ( min-width: 1200px ) {
    .lg\:line-clamp\:1 {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .lg\:line-clamp\:2 {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .lg\:line-clamp\:3 {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}