.vertical-align\:auto,			               .vertical-a\:auto,           .va\:auto { vertical-align: auto !important; }
.vertical-align\:baseline,		               .vertical-a\:baseline,       .va\:baseline { vertical-align: baseline !important; }
.vertical-align\:bottom,		               .vertical-a\:bottom,         .va\:bottom { vertical-align: bottom !important; }
.vertical-align\:middle,		               .vertical-a\:middle,         .va\:middle { vertical-align: middle !important; }
.vertical-align\:sub,			               .vertical-a\:sub,            .va\:sub { vertical-align: sub !important; }
.vertical-align\:super,			               .vertical-a\:super,          .va\:super { vertical-align: super !important; }
.vertical-align\:text-bottom,	               .vertical-a\:text-bottom,    .va\:text-bottom { vertical-align: text-bottom !important; }
.vertical-align\:text-top,		               .vertical-a\:text-top,       .va\:text-top { vertical-align: text-top !important; }
.vertical-align\:top,			               .vertical-a\:top,            .va\:top { vertical-align: top !important; }
.vertical-align\:-webkit-baseline-middle,	   .vertical-a\:-webkit-baseline-middle, .va\:-webkit-baseline-middle { vertical-align: -webkit-baseline-middle !important; }
.vertical-align\:inherit,		               .vertical-a\:inherit,        .va\:inherit { vertical-align: inherit !important; }
.vertical-align\:initial,		               .vertical-a\:initial,        .va\:initial { vertical-align: initial !important; }
.vertical-align\:unset,		                   .vertical-a\:unset,          .va\:unset { vertical-align: unset !important; }

/* ---- medium ------------------------------------------------- */
@media (min-width: 768px) {

    .md\:vertical-align\:auto,			               .md\:vertical-a\:auto,           .md\:va\:auto { vertical-align: auto !important; }
    .md\:vertical-align\:baseline,		               .md\:vertical-a\:baseline,       .md\:va\:baseline { vertical-align: baseline !important; }
    .md\:vertical-align\:bottom,		               .md\:vertical-a\:bottom,         .md\:va\:bottom { vertical-align: bottom !important; }
    .md\:vertical-align\:middle,		               .md\:vertical-a\:middle,         .md\:va\:middle { vertical-align: middle !important; }
    .md\:vertical-align\:sub,			               .md\:vertical-a\:sub,            .md\:va\:sub { vertical-align: sub !important; }
    .md\:vertical-align\:super,			               .md\:vertical-a\:super,          .md\:va\:super { vertical-align: super !important; }
    .md\:vertical-align\:text-bottom,	               .md\:vertical-a\:text-bottom,    .md\:va\:text-bottom { vertical-align: text-bottom !important; }
    .md\:vertical-align\:text-top,		               .md\:vertical-a\:text-top,       .md\:va\:text-top { vertical-align: text-top !important; }
    .md\:vertical-align\:top,			               .md\:vertical-a\:top,            .md\:va\:top { vertical-align: top !important; }
    .md\:vertical-align\:-webkit-baseline-middle,	   .md\:vertical-a\:-webkit-baseline-middle, .md\:va\:-webkit-baseline-middle { vertical-align: -webkit-baseline-middle !important; }
    .md\:vertical-align\:inherit,		               .md\:vertical-a\:inherit,        .md\:va\:inherit { vertical-align: inherit !important; }
    .md\:vertical-align\:initial,		               .md\:vertical-a\:initial,        .md\:va\:initial { vertical-align: initial !important; }
    .md\:vertical-align\:unset,		                   .md\:vertical-a\:unset,          .md\:va\:unset { vertical-align: unset !important; }

}

/* ---- large ------------------------------------------------- */
@media (min-width: 1200px) {

    .lg\:vertical-align\:auto,			               .lg\:vertical-a\:auto,           .lg\:va\:auto { vertical-align: auto !important; }
    .lg\:vertical-align\:baseline,		               .lg\:vertical-a\:baseline,       .lg\:va\:baseline { vertical-align: baseline !important; }
    .lg\:vertical-align\:bottom,		               .lg\:vertical-a\:bottom,         .lg\:va\:bottom { vertical-align: bottom !important; }
    .lg\:vertical-align\:middle,		               .lg\:vertical-a\:middle,         .lg\:va\:middle { vertical-align: middle !important; }
    .lg\:vertical-align\:sub,			               .lg\:vertical-a\:sub,            .lg\:va\:sub { vertical-align: sub !important; }
    .lg\:vertical-align\:super,			               .lg\:vertical-a\:super,          .lg\:va\:super { vertical-align: super !important; }
    .lg\:vertical-align\:text-bottom,	               .lg\:vertical-a\:text-bottom,    .lg\:va\:text-bottom { vertical-align: text-bottom !important; }
    .lg\:vertical-align\:text-top,		               .lg\:vertical-a\:text-top,       .lg\:va\:text-top { vertical-align: text-top !important; }
    .lg\:vertical-align\:top,			               .lg\:vertical-a\:top,            .lg\:va\:top { vertical-align: top !important; }
    .lg\:vertical-align\:-webkit-baseline-middle,	   .lg\:vertical-a\:-webkit-baseline-middle, .lg\:va\:-webkit-baseline-middle { vertical-align: -webkit-baseline-middle !important; }
    .lg\:vertical-align\:inherit,		               .lg\:vertical-a\:inherit,        .lg\:va\:inherit { vertical-align: inherit !important; }
    .lg\:vertical-align\:initial,		               .lg\:vertical-a\:initial,        .lg\:va\:initial { vertical-align: initial !important; }
    .lg\:vertical-align\:unset,		                   .lg\:vertical-a\:unset,          .lg\:va\:unset { vertical-align: unset !important; }

}