/**
 * width
 * min-width
 * max-width
 */

.width\:0,               .w\:0 { width: var(--gap-0) !important; }
.width\:1,               .w\:1 { width: var(--gap-1) !important; }
.width\:2,               .w\:2 { width: var(--gap-2) !important; }
.width\:3,               .w\:3 { width: var(--gap-3) !important; }
.width\:4,               .w\:4 { width: var(--gap-4) !important; }
.width\:5,               .w\:5 { width: var(--gap-5) !important; }
.width\:6,               .w\:6 { width: var(--gap-6) !important; }
.width\:7,               .w\:7 { width: var(--gap-7) !important; }
.width\:8,               .w\:8 { width: var(--gap-8) !important; }
.width\:9,               .w\:9 { width: var(--gap-9) !important; }
.width\:10,              .w\:10 { width: var(--gap-10) !important; }
.width\:full,            .w\:full { width : 100% !important }
.width\:min-content,     .w\:min-content { width : min-content !important }
.width\:max-content,     .w\:max-content { width : max-content !important }
.width\:fit-content,     .w\:fit-content { width : fit-content !important }
.width\:auto,            .w\:auto { width : auto !important }

/* ---- md ------------------------------------------------- */
@media (min-width: 768px) {
    .md\:width\:0,              .md\:w\:0 { width: var(--gap-0) !important; }
    .md\:width\:1,              .md\:w\:1 { width: var(--gap-1) !important; }
    .md\:width\:2,              .md\:w\:2 { width: var(--gap-2) !important; }
    .md\:width\:3,              .md\:w\:3 { width: var(--gap-3) !important; }
    .md\:width\:4,              .md\:w\:4 { width: var(--gap-4) !important; }
    .md\:width\:5,              .md\:w\:5 { width: var(--gap-5) !important; }
    .md\:width\:6,              .md\:w\:6 { width: var(--gap-6) !important; }
    .md\:width\:7,              .md\:w\:7 { width: var(--gap-7) !important; }
    .md\:width\:8,              .md\:w\:8 { width: var(--gap-8) !important; }
    .md\:width\:9,              .md\:w\:9 { width: var(--gap-9) !important; }
    .md\:width\:10,             .md\:w\:10 { width: var(--gap-10) !important; }
    .md\:width\:full,           .md\:w\:full { width : 100% !important }
    .md\:width\:min-content,    .md\:w\:min-content { width : min-content !important }
    .md\:width\:max-content,    .md\:w\:max-content { width : max-content !important }
    .md\:width\:fit-content,    .md\:w\:fit-content { width : fit-content !important }
    .md\:width\:auto,           .md\:w\:auto { width : auto !important }
}

/* ---- lg ------------------------------------------------- */
@media (min-width: 1200px) {
    .lg\:width\:0,              .lg\:w\:0 { width: var(--gap-0) !important; }
    .lg\:width\:1,              .lg\:w\:1 { width: var(--gap-1) !important; }
    .lg\:width\:2,              .lg\:w\:2 { width: var(--gap-2) !important; }
    .lg\:width\:3,              .lg\:w\:3 { width: var(--gap-3) !important; }
    .lg\:width\:4,              .lg\:w\:4 { width: var(--gap-4) !important; }
    .lg\:width\:5,              .lg\:w\:5 { width: var(--gap-5) !important; }
    .lg\:width\:6,              .lg\:w\:6 { width: var(--gap-6) !important; }
    .lg\:width\:7,              .lg\:w\:7 { width: var(--gap-7) !important; }
    .lg\:width\:8,              .lg\:w\:8 { width: var(--gap-8) !important; }
    .lg\:width\:9,              .lg\:w\:9 { width: var(--gap-9) !important; }
    .lg\:width\:10,             .lg\:w\:10 { width: var(--gap-10) !important; }
    .lg\:width\:full,           .lg\:w\:full { width : 100% !important }
    .lg\:width\:min-content,    .lg\:w\:min-content { width : min-content !important }
    .lg\:width\:max-content,    .lg\:w\:max-content { width : max-content !important }
    .lg\:width\:fit-content,    .lg\:w\:fit-content { width : fit-content !important }
    .lg\:width\:auto,           .lg\:w\:auto { width : auto !important }
}

/* min-width */
.min-width\:0,       .min-w\:0 { min-width: var(--gap-0) !important; }
.min-width\:1,       .min-w\:1 { min-width: var(--gap-1) !important; }
.min-width\:2,       .min-w\:2 { min-width: var(--gap-2) !important; }
.min-width\:3,       .min-w\:3 { min-width: var(--gap-3) !important; }
.min-width\:4,       .min-w\:4 { min-width: var(--gap-4) !important; }
.min-width\:5,       .min-w\:5 { min-width: var(--gap-5) !important; }
.min-width\:6,       .min-w\:6 { min-width: var(--gap-6) !important; }
.min-width\:7,       .min-w\:7 { min-width: var(--gap-7) !important; }
.min-width\:8,       .min-w\:8 { min-width: var(--gap-8) !important; }
.min-width\:9,       .min-w\:9 { min-width: var(--gap-9) !important; }
.min-width\:10,      .min-w\:10 { min-width: var(--gap-10) !important; }
.min-width\:full,    .min-w\:full { min-width: 100% !important; }
.min-width\:full-vh, .min-w\:full-vh { min-width: 100vh !important; }
.min-width\:min-content,     .min-w\:min-content,
.min-width\:min,             .min-w\:min {
    min-width: min-content !important;
}
.min-width\:max-content,     .min-w\:max-content,
.min-width\:max,             .min-w\:max{
    min-width: max-content !important;
}
.min-width\:fit-content,     .min-w\:fit-content,
.min-width\:fit,             .min-w\:fit {
    min-width: fit-content !important;
}

/* ---- md ------------------------------------------------- */
@media (min-width: 768px) {
    .md\:min-width\:0,       .md\:min-w\:0 { min-width: var(--gap-0) !important; }
    .md\:min-width\:1,       .md\:min-w\:1 { min-width: var(--gap-1) !important; }
    .md\:min-width\:2,       .md\:min-w\:2 { min-width: var(--gap-2) !important; }
    .md\:min-width\:3,       .md\:min-w\:3 { min-width: var(--gap-3) !important; }
    .md\:min-width\:4,       .md\:min-w\:4 { min-width: var(--gap-4) !important; }
    .md\:min-width\:5,       .md\:min-w\:5 { min-width: var(--gap-5) !important; }
    .md\:min-width\:6,       .md\:min-w\:6 { min-width: var(--gap-6) !important; }
    .md\:min-width\:7,       .md\:min-w\:7 { min-width: var(--gap-7) !important; }
    .md\:min-width\:8,       .md\:min-w\:8 { min-width: var(--gap-8) !important; }
    .md\:min-width\:9,       .md\:min-w\:9 { min-width: var(--gap-9) !important; }
    .md\:min-width\:10,      .md\:min-w\:10 { min-width: var(--gap-10) !important; } 
    .md\:min-width\:full,    .md\:min-w\:full { min-width: 100% !important; }
    .md\:min-width\:full-vh, .md\:min-w\:full-vh { min-width: 100vh !important; }
    .md\:min-width\:min-content,     .md\:min-w\:min-content,
    .md\:min-width\:min,             .md\:min-w\:min {
        min-width: min-content !important;
    }
    .md\:min-width\:max-content,     .md\:min-w\:max-content,
    .md\:min-width\:max,             .md\:min-w\:max{
        min-width: max-content !important;
    }
    .md\:min-width\:fit-content,     .md\:min-w\:fit-content,
    .md\:min-width\:fit,             .md\:min-w\:fit {
        min-width: fit-content !important;
    }
}

/* ---- lg ------------------------------------------------- */
@media (min-width: 1200px) {
    .lg\:min-width\:0,       .lg\:min-w\:0 { min-width: var(--gap-0) !important; }
    .lg\:min-width\:1,       .lg\:min-w\:1 { min-width: var(--gap-1) !important; }
    .lg\:min-width\:2,       .lg\:min-w\:2 { min-width: var(--gap-2) !important; }
    .lg\:min-width\:3,       .lg\:min-w\:3 { min-width: var(--gap-3) !important; }
    .lg\:min-width\:4,       .lg\:min-w\:4 { min-width: var(--gap-4) !important; }
    .lg\:min-width\:5,       .lg\:min-w\:5 { min-width: var(--gap-5) !important; }
    .lg\:min-width\:6,       .lg\:min-w\:6 { min-width: var(--gap-6) !important; }
    .lg\:min-width\:7,       .lg\:min-w\:7 { min-width: var(--gap-7) !important; }
    .lg\:min-width\:8,       .lg\:min-w\:8 { min-width: var(--gap-8) !important; }
    .lg\:min-width\:9,       .lg\:min-w\:9 { min-width: var(--gap-9) !important; }
    .lg\:min-width\:10,      .lg\:min-w\:10 { min-width: var(--gap-10) !important; }
    .lg\:min-width\:full,    .lg\:min-w\:full { min-width: 100% !important; }
    .lg\:min-width\:full-vh, .lg\:min-w\:full-vh { min-width: 100vh !important; }
    .lg\:min-width\:min-content,     .lg\:min-w\:min-content,
    .lg\:min-width\:min,             .lg\:min-w\:min {
        min-width: min-content !important;
    }
    .lg\:min-width\:max-content,     .lg\:min-w\:max-content,
    .lg\:min-width\:max,             .lg\:min-w\:max{
        min-width: max-content !important;
    }
    .lg\:min-width\:fit-content,     .lg\:min-w\:fit-content,
    .lg\:min-width\:fit,             .lg\:min-w\:fit {
        min-width: fit-content !important;
    }
}

/* max-width */
.max-width\:0,       .max-w\:0 { max-width: var(--gap-0) !important; }
.max-width\:1,       .max-w\:1 { max-width: var(--gap-1) !important; }
.max-width\:2,       .max-w\:2 { max-width: var(--gap-2) !important; }
.max-width\:3,       .max-w\:3 { max-width: var(--gap-3) !important; }
.max-width\:4,       .max-w\:4 { max-width: var(--gap-4) !important; }
.max-width\:5,       .max-w\:5 { max-width: var(--gap-5) !important; }
.max-width\:6,       .max-w\:6 { max-width: var(--gap-6) !important; }
.max-width\:7,       .max-w\:7 { max-width: var(--gap-7) !important; }
.max-width\:8,       .max-w\:8 { max-width: var(--gap-8) !important; }
.max-width\:9,       .max-w\:9 { max-width: var(--gap-9) !important; }
.max-width\:10,      .max-w\:10 { max-width: var(--gap-10) !important; }
.max-width\:full,    .max-w\:full { max-width: 100% !important; }
.max-width\:full-vh, .max-w\:full-vh { max-width: 100vh !important; }
.max-width\:min-content,     .max-w\:min-content,
.max-width\:min,             .max-w\:min {
    max-width: min-content !important;
}
.max-width\:max-content,     .max-w\:max-content,
.max-width\:max,             .max-w\:max{
    max-width: max-content !important;
}
.max-width\:fit-content,     .max-w\:fit-content,
.max-width\:fit,             .max-w\:fit {
    max-width: fit-content !important;
}

/* ---- md ------------------------------------------------- */
@media (min-width: 768px) {
    .md\:max-width\:0,       .md\:max-w\:0 { max-width: var(--gap-0) !important; }
    .md\:max-width\:1,       .md\:max-w\:1 { max-width: var(--gap-1) !important; }
    .md\:max-width\:2,       .md\:max-w\:2 { max-width: var(--gap-2) !important; }
    .md\:max-width\:3,       .md\:max-w\:3 { max-width: var(--gap-3) !important; }
    .md\:max-width\:4,       .md\:max-w\:4 { max-width: var(--gap-4) !important; }
    .md\:max-width\:5,       .md\:max-w\:5 { max-width: var(--gap-5) !important; }
    .md\:max-width\:6,       .md\:max-w\:6 { max-width: var(--gap-6) !important; }
    .md\:max-width\:7,       .md\:max-w\:7 { max-width: var(--gap-7) !important; }
    .md\:max-width\:8,       .md\:max-w\:8 { max-width: var(--gap-8) !important; }
    .md\:max-width\:9,       .md\:max-w\:9 { max-width: var(--gap-9) !important; }
    .md\:max-width\:10,      .md\:max-w\:10 { max-width: var(--gap-10) !important; }
    .md\:max-width\:full,    .md\:max-w\:full { max-width: 100% !important; }
    .md\:max-width\:full-vh, .md\:max-w\:full-vh { max-width: 100vh !important; }
    .md\:max-width\:min-content,     .md\:max-w\:min-content,
    .md\:max-width\:min,             .md\:max-w\:min {
        max-width: min-content !important;
    }
    .md\:max-width\:max-content,     .md\:max-w\:max-content,
    .md\:max-width\:max,             .md\:max-w\:max{
        max-width: max-content !important;
    }
    .md\:max-width\:fit-content,     .md\:max-w\:fit-content,
    .md\:max-width\:fit,             .md\:max-w\:fit {
        max-width: fit-content !important;
    }
}

/* ---- lg ------------------------------------------------- */
@media (min-width: 1200px) {
    .lg\:max-width\:0,       .lg\:max-w\:0 { max-width: var(--gap-0) !important; }
    .lg\:max-width\:1,       .lg\:max-w\:1 { max-width: var(--gap-1) !important; }
    .lg\:max-width\:2,       .lg\:max-w\:2 { max-width: var(--gap-2) !important; }
    .lg\:max-width\:3,       .lg\:max-w\:3 { max-width: var(--gap-3) !important; }
    .lg\:max-width\:4,       .lg\:max-w\:4 { max-width: var(--gap-4) !important; }
    .lg\:max-width\:5,       .lg\:max-w\:5 { max-width: var(--gap-5) !important; }
    .lg\:max-width\:6,       .lg\:max-w\:6 { max-width: var(--gap-6) !important; }
    .lg\:max-width\:7,       .lg\:max-w\:7 { max-width: var(--gap-7) !important; }
    .lg\:max-width\:8,       .lg\:max-w\:8 { max-width: var(--gap-8) !important; }
    .lg\:max-width\:9,       .lg\:max-w\:9 { max-width: var(--gap-9) !important; }
    .lg\:max-width\:10,      .lg\:max-w\:10 { max-width: var(--gap-10) !important; }
    .lg\:max-width\:full,    .lg\:max-w\:full { max-width: 100% !important; }
    .lg\:max-width\:full-vh, .lg\:max-w\:full-vh { max-width: 100vh !important; }
    .lg\:max-width\:min-content,     .lg\:max-w\:min-content,
    .lg\:max-width\:min,             .lg\:max-w\:min {
        max-width: min-content !important;
    }
    .lg\:max-width\:max-content,     .lg\:max-w\:max-content,
    .lg\:max-width\:max,             .lg\:max-w\:max{
        max-width: max-content !important;
    }
    .lg\:max-width\:fit-content,     .lg\:max-w\:fit-content,
    .lg\:max-width\:fit,             .lg\:max-w\:fit {
        max-width: fit-content !important;
    }
}
